//- Bookmark Toolbar
// This makes it so the bookmark toolbar only appears on a new tab, kinda of like how Chrome does automatically.
#PersonalToolbar {
    visibility: collapse;
    transition: .4s;
}

#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title="Mozilla Firefox"] #PersonalToolbar {
    visibility: visible !important;
    transition: .4s;
}

// this was a thing to make the toolbar appear when you hovered near it but it was a pain in the ass so I decided to get rid of it.
/* toolbox#navigator-toolbox #PersonalToolbar {

  width: 100vw;
  padding: 5px!important;
  -moz-window-dragging: no-drag !important;
  z-index: 0!important;
  transition: all 0.5s ease 1.5s !important;
  position: absolute;
  height: 0px!important;
  min-height: 0px!important;
}

toolbox#navigator-toolbox:hover #PersonalToolbar {
  height: 75px!important;
  transition: all 0.5s ease 0s !important;
}

toolbox#navigator-toolbox #PersonalToolbar toolbaritem#personal-bookmarks {
  position: absolute!important;
  z-index: 0!important;
transition: all 0.5s ease 1.5s !important;
margin-top: -65px;
opacity: 0!important;
font-size: 30px!important;
}

toolbox#navigator-toolbox toolbar#PersonalToolbar .toolbarbutton-icon {
  position: absolute!important;
  z-index: 0!important;
transition: all 0.5s ease 1.5s !important;
margin-top: -65px;
opacity: 0!important;
font-size: 30px!important;
height: 50px !important;
width: 50px!important;
}

toolbox#navigator-toolbox:hover #PersonalToolbar  toolbaritem#personal-bookmarks {
  transition: all 0.5s ease 0s !important;
  margin-top: inherit!important;
font-size: 30px!important;
opacity:1!important;
}

toolbox#navigator-toolbox:hover  toolbar#PersonalToolbar .toolbarbutton-icon {
  transition: all 0.5s ease 0s !important;
  margin-top: inherit!important;
font-size: 30px!important;
opacity:1!important;
}

toolbar#toolbar-menubar.chromeclass-menubar {
  z-index: 5!important;
}

toolbar#toolbar-menubar.chromeclass-menubar {
  z-index: 5!important;
}

toolbar#TabsToolbar.titlebar-color {
  z-index: 5!important;
}

.tabs-newtab-button {
  z-index: 5!important;
}

.closing-tabs-spacer {
  z-index: 5!important;
}

toolbar#nav-bar {
  z-index: 5!important;
}

toolbar#PersonalToolbar.chromeclass-directories {
  z-index: 0!important;
}

.tabs-newtab-button {
  z-index: 5!important;

}




#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
max-height: 8em!important;

}

#navigator-toolbox > toolbar:not(#TabsToolbar):not(#toolbar-menubar), .browserContainer > findbar, #browser-bottombox {

} */